{% extends 'CuaroundSiteBundle::base.html.twig' %}

{% block content %}
<div class="twelve columns">
    <h3>Αυτό είναι ένα καταπληκτικό header</h3>

    <!-- Grid Example -->
    <div class="row">
        <div class="twelve columns">
            <div class="panel">
                <form>
                {# Σταθερά #}
                        <input type="text" placeholder="Μουσικές Προτιμήσεις" />
                        <input type="text" placeholder="Αυτοκίνητο" />
                        <input type="text" placeholder="Τοπθεσία (σπιτιού by default)" />
                {# Μεταβλητά #}
                        <input type="text" placeholder="Ποτό/Φαγητό/Καφές" />
                        <input type="text" placeholder="Budget" />
                        <input type="submit" value="Αναζήτηση" class="button two offset-by-ten" />
                    </form>
                </div>
            </div>
        </div>

        <h3>Tabs</h3>
        <dl class="tabs">
            <dd class="active"><a href="#simple1">Simple Tab 1</a></dd>
            <dd><a href="#simple2">Simple Tab 2</a></dd>
            <dd><a href="#simple3">Simple Tab 3</a></dd>
        </dl>

        <ul class="tabs-content">
            <li class="active" id="simple1Tab">This is simple tab 1's content. Pretty neat, huh?</li>
            <li id="simple2Tab">This is simple tab 2's content. Now you see it!</li>
            <li id="simple3Tab">This is simple tab 3's content. It's, you know...okay.</li>
        </ul>



        <h3>Buttons</h3>

        <div class="row">
            <div class="six columns">
                <p><a href="#" class="small button">Small Button</a></p>
                <p><a href="#" class="button">Medium Button</a></p>
                <p><a href="#" class="large button">Large Button</a></p>
            </div>
            <div class="six columns">
                <p><a href="#" class="small alert button">Small Alert Button</a></p>
                <p><a href="#" class="success button">Medium Success Button</a></p>
                <p><a href="#" class="large secondary button">Large Secondary Button</a></p>
            </div>
        </div>

    </div>
{% endblock %}